head, html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background-color: #1F689F;
	display: inline;
}
.header {
	padding: 0px;
	margin: 0px;
}
.header h1 {
	display: inline;
	font-size: 32px;
}

.nav {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.nav ul{
	margin: 0px;
	padding: 0px;
	padding-right: 25%;
	display: inline-block;
}
#signup {
	padding: 80%;
	padding-right: 0%;
	margin: 0px;
	display: inline;
}
a {
	text-decoration: none;
	color: white;
}